.breadcrumbs {
    margin-bottom: 10px;
}

.grid-view {
    margin-top: 20px;
}

#item-form .ui-button.ui-widget {
    width: 1.95em !important;
    height: 1.95em !important;
}

#item-form .ui-autocomplete-input {
    border-radius: 4px 0px 0px 4px;
}